@model List<MyPortfolioProject.Models.Contact>
@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Admin/Index.cshtml";
    int count = 0;
    string color = "";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Tarih</th>
        <th>Konu</th>
        <th>Durum</th>
        <th>Kategorisi</th>
        <th>Mesajı Aç</th>
        <th>Mesajı Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        switch (item.Category.CategoryName)
        {
            case "Teşekkür": color = "lightblue";
                break;

            case "Öneri": color = "antiquewhite";
                break;
            case "Proje Talebi": color = "lightyellow";
                break;
            case "Referans": color = "aquamarine";
                break;
            case "Toplantı":
                color = "lightblue";
                break;
            case "Görüşme":
                color = "lightgreen";
                break;
            case "Reklam":
                color = "cadetblue";
                break;
            case "Diğer":
                color = "lightpink";
                break;
            default: color = "darkkhaki";
                break;
        }

        count++;

        <tr>
            <td>@count</td>
            <td>@item.NameSurname</td>
            <td>@item.SendDate</td>
            <td>@item.Subject</td>

            @if (item.IsRead == false)
                                                            {
                <td><a href="/Message/ChangeMessageStatusToTrue/@item.ContactId" class="btn btn-info">Okundu Olarak İşaretle</a></td>
            }
            else
            {
                <td><a href="/Message/ChangeMessageStatusToFalse/@item.ContactId" class="btn btn-danger">Okunmadı Olarak İşaretle</a></td>
            }

            <td style="background-color:@color">@item.Category.CategoryName</td>
            <td><a href="#" class="btn btn-warning">Mesajı Aç</a></td>
            <td><a href="#" class="btn btn-danger">Mesajı Sil</a></td>
        </tr>
    }
</table>

