@model MyPortfolioProject.Models.Testimonial
@{
    ViewBag.Title = "UpdateTestimonial";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h2 class="mb-4">Yorum Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.TestimonialId)

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />

    <label>Link</label>
    @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
    <br />

    <label>İkon</label>
    @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
    <br />

    <label>İkon</label>
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />

    <button class="btn btn-primary">Yorumu Güncelle</button>
</form>







